
//- template(name='flipper_back')
//- 	div(id='#{this.id}' class='trackItem col-sm-12 trackRow square bg #{this.playstatus} #{this.kind}' style='background-image:url(#{this.big_artwork_url})')
//- 		.back.row
//- 			a.backTitle(href='' onclick='return false;' id='#{this.user.id}-artist-profile') #{this.user.username}
//- 			.info
//- 				img.proPic.bg(src='#{this.user.avatar_url}')
//- 				span.backTitle #{this.title}
//- 					br
//- 				p.descriptScroll #{this.description}
			

template(name="trackList")
	if loaded
		if artist
			+artistInfo
		.row.trackList
			each tracks
				div(id='#{this.id}' class='trackItem trackRow col-xs-12 square bg #{this.kind}' style='background-image:url(#{this.big_artwork_url})')
					.overlay.row
						.info.col-xs-12
							span.title #{this.title}
								br
							p #{this.user.username}
						if this.track_count
							span.counts.col-xs-12
								span.playCount Tracks: #{this.track_count}
								span.heartCount(class='{{#if this.user_favorite}}hearted{{/if}}')
						else
							span.counts.col-xs-12
								span.playCount
									span.glyphicon.glyphicon-play #{this.playback_count}
								span.heartCount(class='{{#if this.user_favorite}}hearted{{/if}}')
									span.glyphicon.glyphicon-heart(class='{{#if this.user_favorite}}red{{/if}})') #{this.favoritings_count}
	else
		+loader

template(name="likeList")
	//- if loaded
	//- 	+Scrollview
	//- 		+FlexGrid marginTop="0" gutterCol="0" gutterRow="0" itemSize="[275,275]" id="famous-track-list"
	//- 			+famousEach tracks
	//- 				+ContainerSurface perspective=500
	//- 					+Flipper
	//- 						+Surface target="front" template="flipper_front" size="[undefined,undefined]" align="[.5,.5]" origin="[.5,.5]"
	//- 						+Surface target="back" template="flipper_back" size="[undefined,undefined]" align="[.5,.5]" origin="[.5,.5]"
	//- else
	//- 	+loader

template(name='artistList')
	//- if loaded
	//- 	+Scrollview
	//- 		+FlexGrid marginTop="0" gutterCol="0" gutterRow="0" itemSize="[275,275]"
	//- 			+famousEach artists
	//- 				+Flipper
	//- 					+Surface target="front" template="artist_front" size="[undefined,undefined]" align="[.5,.5]" origin="[.5,.5]"
	//- 					+Surface target="back" template="flipper_back" size="[undefined,undefined]" align="[.5,.5]" origin="[.5,.5]"
	//- else
	//- 	+loader

template(name='artistInfo')
	h1.row.artist-title #{artistData.username}
		h5.artist-title #{ artistData.city }, #{ artistData.country }
	.row
		p.col-xs-12.desc #{artistData.description}
	.btn-group
		button#artist-tracks.btn.btn-artist.btn-default(type="button") Tracks
		button#artist-playlists.btn.btn-artist.btn-default(type="button") Playlists (#{ artistData.playlist_count })
		button#artist-favorites.btn.btn-artist.btn-default(type="button") Favorites

template(name='artist_front')
	div(id='#{this.id}' class='trackItem square bg #{this.kind}' style='background-image:url({{big this.avatar_url}})')
		.overlay
			.info
				span.title 
					a(href='' onclick='return false;' id='#{this.id}-artist-profile') #{this.username}
					br
				p #{this.full_name} 
				p #{this.city}, #{this.country}
				p #{this.description} 
