if queue.length
  .queueContainer
    .showQueue 
      a(href='#') #{action} Queue (#{queue.length})

    .scrollContainer.row
      .queue
        .queueItem.square
          span Up Next
        each queue
          .queueGroup
            div(id='#{this.id}' class='queueItem square bg #{this.playstatus}' style='background-image:url(#{this.big_artwork_url})')
              .overlay
            .info.queueItem
              div
                h5 #{this.title}
                div #{this.user.username}
              .counts
                  .glyphicon.glyphicon-play #{this.playback_count}
                  .glyphicon.glyphicon-heart(class='{{#if this.user_favorite}}red{{/if}}')
                      span #{this.favoritings_count}
