template(name='player')
  .current-art.player.footer.navbar-fixed-bottom
    .player-node.artwork
      img(src='#{currentTrack.artwork_url}')
      
    .player-node.controls
      +controls
      +currentTrackPlayer

template(name='currentTrackPlayer')
  #currentTrackPlayer
    input(type='range' min='0' max='#{currentTrack.duration}' value='#{trackPosition}' id='time-slider')

template(name='controls')
  div
    span.controls
      span#prevButton.playerControlButton
        span.glyphicon.glyphicon-step-backward
      span#playpause.playerControlButton
        span#playPauseIcon.glyphicon.glyphicon-pause
      span#nextButton.playerControlButton
        span.glyphicon.glyphicon-step-forward
    span.player-title #{currentTrack.title} - #{currentTrack.user.username}

