if loaded
	.row.trackList
		each artists
			div(id='#{this.id}' class='square bg #{this.kind}' style='background-image:url({{big this.avatar_url}})')
				.overlay.artist
					span.title.col-xs-12 #{this.username}
					p.col-xs-12 #{this.full_name} 
					if this.city 
						p.col-xs-12 #{this.city}, #{this.country}
					p.col-xs-12 #{this.description}
else
	+loader	 
